
.icon-funnel-add:before { content: '\e800'; } /* '' */
.icon-counter:before { content: '\e801'; } /* '' */
.icon-enable-false:before { content: '\e802'; } /* '' */
.icon-funnel:before { content: '\e803'; } /* '' */
.icon-group:before { content: '\e804'; } /* '' */
.icon-group-remote:before { content: '\e805'; } /* '' */
.icon-label:before { content: '\e806'; } /* '' */
.icon-processor:before { content: '\e807'; } /* '' */
.icon-provenance:before { content: '\e808'; } /* '' */
.icon-template:before { content: '\e809'; } /* '' */
.icon-transmit-false:before { content: '\e80a'; } /* '' */
.icon-zoom-actual:before { content: '\e80b'; } /* '' */
.icon-zoom-fit:before { content: '\e80c'; } /* '' */
.icon-label-add:before { content: '\e80d'; } /* '' */
.icon-template-add:before { content: '\e80e'; } /* '' */
.icon-group-add:before { content: '\e80f'; } /* '' */
.icon-template-import:before { content: '\e810'; } /* '' */
.icon-template-save:before { content: '\e811'; } /* '' */
.icon-group-remote-add:before { content: '\e812'; } /* '' */
.icon-port-out-add:before { content: '\e813'; } /* '' */
.icon-port-in-add:before { content: '\e814'; } /* '' */
.icon-processor-add:before { content: '\e815'; } /* '' */
.icon-lineage:before { content: '\e816'; } /* '' */
.icon-port-in:before { content: '\e832'; } /* '' */
.icon-port-out:before { content: '\e833'; } /* '' */
.icon-connect:before { content: '\e834'; } /* '' */
.icon-connect-add:before { content: '\e835'; } /* '' */
.icon-threads:before { content: '\e83f'; } /* '' */
.icon-drop:before { content: '\e888'; } /* '' */