@charset "UTF-8";
button{
  border:1px solid #ccdadb;
  background:rgba(249,250,251,1);
  height:28px;
  padding:0;
  width:28px
}

button .fa,.icon{
	color:#004849;
	font-size:18px
}

button .icon{
	line-height:0.9
}

.button-container {
	background:rgba(249,250,251,0.9);
	margin:50px;
	padding:20px
}